<div class="row best-team-carousel-slide">

    <div class="row" id="empty-space-8">

    </div>
    <div class="row" id="best-team">
        <p>best team</p>
    </div>

    <div class="row" id="empty-space-9"></div>

    <div class="row center-block best-team-carousel-members">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row member-img">
                <img src="img/168x168.png">
            </div>
            <div class="row">
                <p class="member-name" id="first-name">paul hall</p>
            </div>
            <div class="row best-team-line-div" id="first-line">
                <div class="best-team-line col-centered"></div>
            </div>
            <div class="row">
                <p class="member-position">art director</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row member-img">
                <img src="img/168x168.png">
            </div>
            <div class="row">
                <p class="member-name" id="second-name">joshua
                    spencer</p>
            </div>
            <div class="row best-team-line-div" id="second-line">
                <div class="best-team-line"></div>
            </div>
            <div class="row">
                <p class="member-position">founder</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="row member-img">
                <img src="img/168x168.png">
            </div>
            <div class="row">
                <p class="member-name" id="third-name">diane lewis</p>
            </div>
            <div class="row best-team-line-div" id="third-line">
                <div class="best-team-line"></div>
            </div>
            <div class="row">
                <p class="member-position">artist, designer</p>
            </div>
        </div>
    </div>
</div>