<div class="container-wide best-team-container-wide">
    <div class="row">
        <div class="col-lg-12 best-team-carousel-col">
            <div id="best-team-carousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators" id="best-team-indicators">
                    <li data-target="#best-team-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#best-team-carousel" data-slide-to="1"></li>
                    <li data-target="#best-team-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        //= ../partials/best-team-slide.html
                    </div>
                    <div class="item">
                        //= ../partials/best-team-slide.html
                    </div>
                    <div class="item">
                        //= ../partials/best-team-slide.html
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" id="best-team-left" href="#best-team-carousel" data-slide="prev">
                        <img src="img/arrow-left.png">
                    </a>
                    <a class="right carousel-control" id="best-team-right" href="#best-team-carousel" data-slide="next">
                        <img src="img/arrow-right.png">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>