<section class="header">
    <div class="container header-div">
        <div class="row header-row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="clemo"><p>clemo.</p></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pages-div">
                <a id="about" href="#" target="_blank"><span id="abo">abo</span>ut us</a>
                <a id="services" href="#" target="_blank"><span id="serv">serv</span>ices</a>
                <a id="works" href="#" target="_blank"><span id="wo">wo</span>rks</a>
                <a id="blog" href="#" target="_blank"><span id="bl">bl</span>og</a>
                <a id="contact" href="#" target="_blank"><span id="con">con</span>tact</a>
            </div>
        </div>
    </div>
</section>