<div id="about-us-empty-space-3"></div>
<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-sm-offset-1" id="aboutus-left-div">
        <img id="aboutus-left-img" src="img/560x560.png">

        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 col-sm-offset-1" id="aboutus-left-linediv">
            <div id="aboutus-left-div-line"></div>
        </div>
        <p class="col-lg-7 col-md-7 col-sm-6 col-xs-6 col-sm-offset-1" id="aboutus-left-div-text">we create
            the best projects
            for the best
            companies!</p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" id="aboutus-right-div">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="aboutus-right-linediv">
            <div id="aboutus-right-div-line"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="aboutus-right-div-text-div">
            <p id="aboutus-right-div-text-1">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                beatae vitae dicta sunt explicabo.
            </p>

            <p id="aboutus-right-div-text-2">
                Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem.
            </p>

            <p id="aboutus-right-div-text-3">
                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
                nisi ut aliquid ex ea commodi consequatur? Sed ut perspiciatis unde omnis iste natus error
                sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
            <button class="what-we-do-btn">
                <text>learn more</text>
            </button>
        </div>
    </div>
</div>

<div id="about-us-empty-space-4"></div>
<div id="about-us-body-line-2"></div>

<div id="about-us-empty-space-5"></div>

<div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 col-sm-offset-2" id="project-complete-div">
        <p class="aboutus-statistics-num">45</p>
        <div class="aboutus-statistics-line" id="projects-complete-line"></div>
        <p class="aboutus-statistics-text">project complete</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="happy-clients-div">
        <p class="aboutus-statistics-num">36</p>
        <div class="aboutus-statistics-line" id="happy-clietns-line"></div>
        <p class="aboutus-statistics-text">happy clients</p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" id="cups-of-milk-div">
        <p class="aboutus-statistics-num">868</p>
        <div class="aboutus-statistics-line" id="cups-of-milk-line"></div>
        <p class="aboutus-statistics-text">cups of milk</p>
    </div>
</div>