<div class="row best-team-carousel-slide">

    <div class="row" id="empty-space-8">

    </div>
    <div class="row related-works" id="best-team">
        <p id="related-works-p">related works</p>
    </div>

    <div class="row" id="empty-space-9"></div>

        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 col-md-offset-1 related-works-first-slide-row">
            <div class="row">
                <p id="letters">letters art</p>
                <p id="art-project"> project</p>
            </div>
            <div class="row best-team-line-div related-works-line" id="first-line">
                <div class="best-team-line col-centered"></div>
            </div>
            <div class="row">
                <p class="member-position print-design">print design</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 related-second-element">
            <div class="row">
                <p class="golfino-awards">golfino awards</p>
                <p class="year-2015">2015</p>
            </div>
            <div class="row best-team-line-div related-works-line-2" id="second-line">
                <div class="best-team-line"></div>
            </div>
            <div class="row print-design-row">
                <p class="member-position print-design">print design</p>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 related-works-third-slide-row">
            <div class="row foodee-row">
                <p class="member-name foodee" id="third-name">the foodee</p>
            </div>
            <div class="row best-team-line-div foodee-line-div" id="third-line">
                <div class="best-team-line foodee-line"></div>
            </div>
            <div class="row creative-kitchen-row">
                <p class="member-position creative-kitchen-p">creative kitchen</p>
            </div>
        </div>

</div>