<div id="three-photos-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" id="three-photos-carousel-indicators">
        <li data-target="#three-photos-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#three-photos-carousel" data-slide-to="1"></li>
        <li data-target="#three-photos-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" id="three-photos-carousel-inner">
        <div class="item active three-photos-carousel-item">
            <div class="three-photos-carousel-img-container">
                <img class="three-photos-carousel-img three-img-1" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
            </div>
            <div id="empty-space-13"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-fluid item three-photos-carousel-item">
            <div class="three-photos-carousel-img-container">
                <img class="three-photos-carousel-img three-img-1" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
            </div>
            <div id="empty-space-13"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-fluid item three-photos-carousel-item">
            <div class="three-photos-carousel-img-container">
                <img class="three-photos-carousel-img three-img-1" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
                <img class="three-photos-carousel-img" src="http://via.placeholder.com/266x140">
            </div>
            <div id="empty-space-13"></div>
        </div>
    </div>
</div>